<html>
    <head>
        <title>Download Atlanta Maps</title>
    </head>
    <body>
        <h1>Download Atlanta Maps</h1>
        <form method="get" action="https://9f43jsjyy3.execute-api.us-east-1.amazonaws.com">
            <label for="map_manifest_url"></label>Map Manifest URL<br>
            <input type="text" id="map_manifest_url" size="90" name="map_manifest_url" 
                placeholder="https://digitalgallery.emory.edu/luna/servlet/iiif/m/EMORYUL~3~3~2550~100334/manifest"><br><br>
            <input type="submit" value="Download">
        </form>
    </body>
</html>
